<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành công</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container" style="width:50%">
        <div class="sucesspwd-heading">
            <h2>Đã đổi mật khẩu</h2>
            <p>Bạn đã đổi được mật khẩu, hãy đăng nhập ngay để có thể đặt hàng với nhiều ưu đãi.</p>
            <img style="width: 250px; height: 250px;" src="/images/resetpassword.png"><br>
            <a href="/login" class="btn btn-primary btn-payment" style="font-size: 20px; padding-top:10px">
                Đăng nhập
            </a>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>