<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm tin tức</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Nhập tin tức mới</h3>
                <div class="panel-body">
                    <div class="position-center">
                        <form action="/news_save" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label >Tiêu đề</label>
                                <input type="text" class="form-control" name="newsTitle" placeholder="Tiêu đề" required="">
                            </div>

                            <div class="form-group">
                                <label >Hình ảnh tin</label>
                                <input type="file" name="productImage">
                            </div>
        
                            <div class="form-group">
                                <label >Nội dung</label>
                                <textarea id="editor" class="form-control" name="newsContent"></textarea>
                            </div>

                            <a href="/admin_news"><button type="button" class="btn btn-info" ><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button></a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nhập tin mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <!--main content end-->

</section>
    <%- include('../partials/footer') %>
</body>
</html>

