<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin giới thiệu</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="contentt">
        <div class="contentt-heading">
            <h3>Giới thiệu</h3>
            <p style="color: #8899A8;"> Gaming store là website phân phối sản phẩm về Game PS5, PS4, Nintendo hàng đầu Việt Nam</p>
            <img style="width: 300px; height: 200px;" src="/images/gamingstore-logo.png">
        </div>
        <div class="main-contentt">
            <p>Gaming Shop có mục tiêu đơn giản như sau:</p>
            <ol>
                <li>Tốc độ nhanh</li>
                <li>Uy tín</li>
                <li>Chất lượng dịch vụ</li>
            </ol>
            <h4>Vì sao khách hàng chọn Gaming Shop?</h4>
            <p><b>Uy tín đặt lên hàng đầu</b></p>
            <p>Gaming Shop là một tên tuổi lâu đời trong cộng động game điện tử Việt Nam. Từ những ngày đầu khi các nền tảng cung cấp game như PS5, PS4, Nintendo, Switch bắt đầu được biết tới tại Việt Nam.
                Trong suốt thời gian hoạt động chúng tôi đã có: Hơn 600.000 Khách hàng tin tưởng và mua hàng, Fanpage với hơn 300.000 người theo dõi, Là Shop bán đĩa game uy tín nhất Việt Nam</p>
            <p><b>Các dịch vụ: </b></p>
            <p>Tư vấn mua máy chơi game, game, giải đáp thắc mắc kỹ thuật
                <br>Cung cấp sỉ / lẻ đĩa game, máy game và phụ kiện game Nintendo DS, DS Lite, DSi, DSi XL, 2DS, 3DS, 3DS XL, new 3DS XL, Wii, Wii U, Nintendo Switch, Switch Lite, Switch Oled Version, Sony PSP, PS Vita, Playstation 4, PS4 Slim, PS4 Pro, PS5...</p>
            <p><b>Giá cả và ưu đãi:</b></p>
            <p>Chúng tôi đem đến cho khách hàng những sản phẩm với giá cả tốt nhất cùng với đó là những ưu đãi vô cùng hấp dẫn.</p>
            <h4>Gaming Store - Giải trí mua sắm dễ dàng </h4>
            <p>Gaming Store với định hướng cung cấp đến các game thủ & khách hàng gia đình Việt Nam những sản phẩm và dịch vụ tốt nhất từ thương hiêu nổi tiếng Nhật Bản như Nintendo, Sony, Bandai, Takara Tomy, Konami... để đáp ứng nhu cầu chơi game, giải trí cũng như thư giãn ngày càng nâng cao.<br>
                Chúng tôi luôn đánh mạnh vào lợi thế là phát triển chuyên biệt và chuyên nghiệp các dòng sản phẩm nên sẽ mang lại nhiều hứa hẹn về chất lượng cũng như dịch vụ tốt nhất cho cộng đồng. Với mong muốn trở thành game shop chuyên nghiệp nhất. Nhiều năm qua đội ngũ đã không ngừng cố gắng phát triển cộng đồng mang lại giá trị dịch vụ cao nhất cho khách hàng.  </p>
            <p><b>Các thông tin liên hệ với Gaming Shop</b></p>
            <p>Email: hotro@gamingshop.com<br>
                Hotline: 1900 123 456</p>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>