<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuyển dụng</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="contentt">
        <div class="contentt-heading">
            <h3>Tuyển dụng Gaming Store</h3>
            <img style="width: 300px; height: 200px;" src="/images/gamingstore-logo.png">
        </div>
        <div class="main-contentt">
            <p style="margin-top: 15px;">Tham gia vào một mô hình công ty cực kỳ mới mẻ lĩnh vực Game & Hobby tại nShop, bạn sẽ là một phần của tập thể năng động và trẻ trung. Đăng ký ngay nếu cảm thấy phù hợp ở một trong những vị trí dưới đây:</p>
            <h4>1. NHÂN VIÊN BÁN HÀNG ONLINE (SALE ONLINE):</h4>
            <p>Đăng sản phẩm lên các website</p>
            <p>Đóng gói sản phẩm gửi đi khi có đơn hàng phát sinh</p>
            <p>Theo dõi đơn hàng, quản lý và thực hiện đơn hàng</p>
            <p>Giới thiệu, tư vấn sản phẩm, dịch vụ cho khách hàng online</p>
            <p>Thực hiện thủ tục bán hàng theo quy trình hướng dẫn</p>
            <p><b>Lương cơ bản: </b>7,000,000 vnđ - 9,000,000 vnđ </p>
            <p><b>Thời gian làm việc: </b>9h sáng - 19h tối ; Tuần làm 6 ngày.</p>
            <p><b>Cơ hội: </b>Trở thành team leader với đãi ngộ tốt hơn về lương nếu có kinh nghiệm trong lĩnh vực bán hàng</p>

            <h4>2. KẾ TOÁN VIÊN</h4>
            <p>Xuất hóa đơn bán lẻ</p>
            <p>Kiểm tra, rà soát, đối chiếu, nhập dữ liệu.</p>
            <p>Thu thập các chứng từ kế toán, và xử lý nghiệp vụ kế toán phát sinh liên quan đến bộ phận.</p>
            <p>Thực hiện các công việc báo cáo khác theo yêu cầu của cấp trên.</p>

            <p><b>Lương cơ bản: </b>7,000,000 vnđ - 9,000,000 vnđ </p>
            <p><b>Thời gian làm việc: </b>9h sáng - 18h tối ; Từ T2 đến T6.</p>
            <p><b>Cơ hội: </b>Được hưởng chế độ lao động với đãi ngộ tốt hơn về lương nếu có kinh nghiệm trong lĩnh vực bán hàng</p>
        
            <h4>3. CÁCH THỨC ỨNG TUYỂN</h4>
            <p>Gửi hồ sơ kinh nghiệm (Resume, CV) vào email: tuyendung@gamingshop.com.vn</p>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>