<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hỗ trợ</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="contentt">
        <div class="contentt-heading">
            <h3>Liên hệ và hỗ trợ</h3>
        </div>
        <div class="main-contentt">
            <h4>Liên hệ tư vấn mua hàng - Từ 8 giờ đến 23 giờ 30 các ngày trong tuần kể cả Thứ 7 và Chủ Nhật</h4>
            <p>Nhắn tin fanpage: GamingShop</p>
            <p>Email: hotro@gamingshop.com<br>
                Hotline: 1900 123 456</p>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>