<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký thành công</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <div class="sucesssingup-heading">
            <h2>Đăng ký thành công</h2>
            <p>Vui lòng đăng nhập và tham gia mua đặt hàng với nhiều ưu đãi.</p>
            <img style="width: 350px; height: 350px;" src="/images/signUp.jpg"><br>
            <a href="/login" class="btn btn-primary btn-payment" style="font-size: 20px; padding-top:10px">
                Đăng nhập
            </a>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>