<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="/admin_home" class="logo">
                <img src="/images/gamingstore-logoo.png">
            </a>
        </div>
        <!--logo end-->

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        <img alt="" src="/images/userr.png">
                        <span class="username">
                           <%= adminName %>
                        </span>
                    </button>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="/admin_profile/<%= admin_id %>"><i class="far fa-address-card"></i> Hồ sơ cá nhân</a></li>
                        <li><a href="/admin_setting/<%= admin_id %>"><i class="fas fa-lock"></i> Cài đặt</a></li>
                        <li><a href="/admin_logout"><i class="fas fa-power-off"></i> Đăng xuất</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a href="/admin_home">
                            <i class="fa fa-dashboard"></i>
                            <span>Thống kê</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fas fa-home"></i>
                            <span>Trang website</span>
                        </a>
                    </li>
                    <% if(admin_role == 0|| admin_role == 1 ) { %>
                        <li class="sub-menu">
                            <a href="javascript:">
                                <i class="fas fa-gamepad"></i>
                                <span>Quản lý sản phẩm</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/admin_categories"><i class="fas fa-list"></i>Thể loại</a></li>
                                <li><a href="/admin_producers"><i class="fas fa-registered"></i>Nhà sản xuất</a></li>
                                <li><a href="/admin_product"><i class="fas fa-archive"></i>Sản phẩm</a></li>
                                <li><a href="/coupon"><i class="fa-solid fa-percent"></i>Mã giảm giá</a></li>
                                <li><a href="/warehouse"><i class="fa-solid fa-boxes-stacked"></i>Kho</a></li>
                            </ul>
                        </li>
                        <%}%>
                    
                    <% if(admin_role == 0|| admin_role == 2 ) { %>
                    <li class="sub-menu">
                         <a href="javascript:">
                            <i class="fas fa-cart-plus"></i>
                            <span>Quản lý đơn hàng</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/all_orders_today"><i class="fa-solid fa-calendar-day"></i>Đơn hàng hôm nay</a></li>
                            <li><a href="/all_orders"><i class="fas fa-list"></i>Tổng đơn hàng</a></li>
                        </ul>
                    </li>
                    <%}%>

                    <li class="sub-menu">
                        <a href="/salesbyyears">
                            <i class="fa-solid fa-chart-simple"></i>
                           <span>Doanh thu</span>
                        </a>
                    </li>
                    
                    <li class="sub-menu">
                        <a href="/revenue">
                           <i class="fa-solid fa-calculator"></i>
                           <span>Doanh thu theo sản phẩm</span>
                        </a>
                    </li>

                    <% if(admin_role == 0|| admin_role == 3 ) { %>
                    <li>
                        <a href="/comment">
                            <i class="fas fa-comment-dots"></i>
                            <span>Bình luận</span>
                        </a>
                    </li>
                    <%}%>
                    
                    <% if(admin_role == 0) { %>
                    <li class="sub-menu">
                        <a href="javascript:">
                            <i class="fas fa-users-cog"></i>
                            <span>Danh sách nhân viên</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/employees"><i class="fa-solid fa-list-ol"></i>Danh sách nhân viên</a></li>
                            <li><a href="/employees_store"><i class="fa-solid fa-people-carry-box"></i>Nhân viên kho</a></li>
                            <li><a href="/employees_order"><i class="fa-solid fa-user-check"></i>Nhân viên đơn hàng</a></li>
                            <li><a href="/employees_customer_care"><i class="fa-solid fa-user-doctor"></i>Nhân viên CSKH</a></li>
                        </ul>
                    </li>
                    <%}%>

                    <% if(admin_role == 0|| admin_role == 3 ) { %>
                    <li>
                        <a href="/customers">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <span>Danh sách khách hàng</span>
                        </a>
                    </li>
                    <%}%>

                    <% if(admin_role == 0|| admin_role == 3) { %>
                        <li>
                            <a href="/admin_news">
                                <i class="fa-solid fa-newspaper"></i>
                                <span>Danh sách tin tức</span>
                            </a>
                        </li>
                    <%}%>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->