<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <%- include('partials/head') %>
</head>
<body style="background-color: #313A46;">
    <div class="center">
        <h2>Đăng nhập quản trị</h2>
        <%if(error.length > 0){%>
          <div class="alert alert-danger">
              <%= error %>
          </div>
              <%}%>
        <form action="admin_login" method="post">
          <div class="txt_field">
            <input type="text" name="email" value="<%= errorEmail %>">
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="password" class="box-input" name="password">
            <i class="fa-regular fa-eye-slash eye eye-close"></i>
            <i class="fa-regular fa-eye eye eye-open hidden"></i>
            <span></span>
            <label>Mật khẩu</label>
          </div>
          <input type="submit" value="Đăng nhập">
        </form>
      </div>
</body>

<script type="text/javascript">
  const input = document.querySelector(".box-input");
  const eyeOpen = document.querySelector(".eye-open");
  const eyeClose = document.querySelector(".eye-close");

  eyeOpen.addEventListener("click", function(){
      eyeOpen.classList.add("hidden");
      eyeClose.classList.remove("hidden");
      input.setAttribute("type","password");
  })

  eyeClose.addEventListener("click", function(){
      eyeOpen.classList.remove("hidden");
      eyeClose.classList.add("hidden");
      input.setAttribute("type","text");
  })

</script

</html>

