<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành công</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <div class="contenttt">
            <div class="contenttt-heading">
                <h3>Đặt hàng thành công!!</h3>
                <p>Vui lòng chờ trong vòng 48h, nhân viên bán hàng sẽ liên hệ với bạn qua số điện thoại hoặc email để xác nhận đơn hàng</p>
                <p>Đơn hàng của bạn sẽ được vận chuyển trong vòng 3 - 5 ngày. Kiểm tra đơn hàng tại lịch sử giao hàng</p>
                <p>Cảm ơn bạn đã tin tưởng và đặt hàng của GamingStore!!!</p>
                <img style="width: 400px; height: 400px;" src="/images/delivery.png">
            </div>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>